@charset "utf-8";
@import "./resetCss.css";
@import "./font.css";

/* todo: Root Project settinge */
:root {
  --primary-color: #2f5bea;
  --primary-color-hover: #0f38be;
  --secundary-color: #87bc25;
  --secundary-color-hover: #648b1c;
  --heding-color: #081d43;
  --text-color: #6c7890;
  --font-tt: "TTNorms", "tahoma";
}

/* * basick style */
html {
  font-size: 10px;
}
body {
  /* margin-top: 1rem; */
  font-size: 1.6rem;
}

.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.cantainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background 0.2s ease-in;
  font-size: 1.4rem;
  font-family: var(--font-tt);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secundary {
  background: var(--secundary-color);
}
.btn-secundary:hover {
  background: var(--secundary-color-hover);
}
.btn-primary:hover {
  background: var(--primary-color-hover);
}
/* * Writng Main Style Project  */
/* Start Header Section Style Code */
.header {
  margin-top: 1rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  gap: 5rem;
}
.navbar__menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar__menu-item {
  font-family: var(--font-tt);
  color: var(--heding-color);
  font-size: 1.5rem;
}

/* Start Home Section Style Code */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.home__description {
  display: flex;
  flex-direction: column;
}
.home__title {
  font: 500 3.6rem var(--font-tt);
}
.home__caption {
  margin-top: 2rem;
  font: 1.6rem/3rem var(--font-tt);
  max-width: 50rem;
}
.home__link {
  margin-top: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}
.home__image-photo {
  width: 100%;
  display: block;
}
/* Start Servises Section Style Code  */
.servises {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.servises__subtitle {
  font: 1.5rem var(--font-tt);
  color: var(--text-color);
}
.servises__title {
  font: 500 3rem/5rem var(--font-tt);
}
.servises__box {
  margin-top: 2rem;
  max-width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servises-box__card {
  text-align: center;
  font-family: var(--font-tt);
  line-height: 1.8;
}
.servises-box-card__title {
  color: var(--heding-color);
  font-size: 1.8rem;
}
.servises-box-card__subtitle {
  color: var(--text-color);
  font-size: 1.6rem;
}
.servises__image {
  max-width: 100%;
}
/* Start Comment Section Style Code  */
.comment {
  margin-top: 5rem;
  padding: 5rem;
  background: var(--primary-color);
  color: #fff;
  line-height: 1.6;
}
.comment__title {
  font: 500 3rem var(--font-tt);
}
.comment__description {
  margin: 0.9rem 0;
  font: 1.4rem var(--font-tt);
  max-width: 38rem;
  text-align: center;
}
.comment__wrapper {
  display: flex;
  gap: 2rem;
}
.comment__card {
  background: #fff;
  padding: 2rem;
  border-radius: 0.3rem;
  min-height: 25.6rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
}
.comment__caption {
  font: italic 1.3rem/3rem "Times Roman Italic";
}
.comment__user {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-top: 1px solid #e8ebef;
  padding-top: 0.5rem;
}
.comment__name {
  font: 1.2rem var(--font-tt);
  color: var(--heding-color);
}
.comment__logo-wrapper {
  display: flex;
  gap: 2.5rem;
  margin-top: 7rem;
}
.comment__logo {
  cursor: pointer;
}

/* Start Portfolio Section Style Code */
.portfolio {
  margin-top: 5rem;
  text-align: center;
}
.portfolio__sub-title {
  font: 1.5rem/5rem var(--font-tt);
  color: var(--text-color);
}
.portfolio__title {
  font: 500 3rem var(--font-tt);
  color: var(--heding-color);
  margin-bottom: 7rem;
}
.portfolio__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 3rem;
}
.portfolio__image {
  border-radius: 0.3rem;
}

/* Start Email Section Style Code */
.email {
  margin-top: 5rem;
  padding: 10rem 0;
  background: var(--primary-color);
}
.email__wraper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.email__title {
  color: #fff;
  font: 2.5rem var(--font-tt);
}
.email__form {
  position: relative;
}
.email__input {
  outline: 0;
  width: 35.2rem;
  height: 5rem;
  border-radius: 0.4rem;
  border: 0;
}
.email__btn {
  position: absolute;
  right: .3rem;
  top: 1rem;
  bottom: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  background: var(--primary-color-hover);
  color: #fff;
  width: 6rem;
  height: 5rem;
  outline: 0;
  border: 0;
  border-radius: 0.3rem;
}
