@charset "utf-8";
@import "./resetCss.css";
@import "./font.css";
@import "./utilities.css";

/* todo: Root Project settinge */
:root {
  --primary-color: #2f5bea;
  --primary-color-hover: #0f38be;
  --secundary-color: #87bc25;
  --secundary-color-hover: #648b1c;
  --heding-color: #081d43;
  --text-color: #6c7890;
  --font-tt: "TTNorms", "tahoma";
}

/* * basick style */
html {
  font-size: 10px;
}
body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 1rem; */
  font-size: 1.6rem;
}

.btn {
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background 0.2s ease-in;
  font-size: 1.4rem;
  font-family: var(--font-tt);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secundary {
  background: var(--secundary-color);
}
.btn-secundary:hover {
  background: var(--secundary-color-hover);
}
.btn-primary:hover {
  background: var(--primary-color-hover);
}
/* * Writng Main Style Project  */
.continer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.continer-custom {
  max-width: 1000px;
}
/* Start Header Section Style Code */
.header {
  margin-top: 1rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  gap: 5rem;
}
.navbar__logo {
}
.navbar__logo-image {
}
.navbar__menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar__menu-item {
  font-family: var(--font-tt);
  color: var(--heding-color);
  font-size: 1.5rem;
}

/* Start Home Section Style Code */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.home__description {
  display: flex;
  flex-direction: column;
}
.home__title {
  font: 500 3.6rem var(--font-tt);
}
.home__caption {
  margin-top: 2rem;
  font: 1.6rem/3rem var(--font-tt);
  max-width: 50rem;
}
.home__link {
  margin-top: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}
.home__image-photo {
  width: 100%;
  display: block;
}
/* Start Servises Section Style Code  */
